@model AdsPortal.Models.User
@{
    ViewData["title"] = "Профиль";
    var posts = (List<(uint, string)>)ViewData["posts"]!;
}

@section Links
{
    <style>
        main {
            margin: 20px;
        }
        main > h2 {
            margin-bottom: 15px;
        }
        
        .profile-form > label{
            display: block;
        }
    </style>
}

<script>const userId = @Model.Id</script>

<main>
    <h2>Профиль:</h2>
    <form method="post" class="profile-form">
        <label>Номер телефона:
            <input type="text" name="phone" value="@Model.Phone" required>
        </label>        
        <label>Имя:
            <input type="text" name="name" value="@Model.Name" required>
        </label>
        <label>Эл. почта
            <input type="text" name="email" placeholder="example@example.com" value="@Model.Email">
        </label>
        <label>Местоположение:
            <input type="text" name="location" placeholder="г. Москва" value="@Model.Location">
        </label>
        <input type="submit" value="Сохранить">
    </form>

    <h3>Обновить пароль:</h3>
    <form method="post" class="profile-form" action="/Profile/UpdatePassword">
        <label>Новый пароль:
            <input type="password" name="newPassword" required>
        </label>
        <input type="submit" value="Сохранить">
    </form>
    
    <h3>Мои объявления:</h3>
    
    <table>
        <tr>
            <th style="min-width: 350px">Название</th>
            <th>Действия</th>
        </tr>
        @foreach (var (postId, postName) in posts)
        {
            <tr>
                <td><a href="/Home/Post/@postId">@postName</a></td>
                <td>
                    <button onclick="document.location.href = '/Profile/EditPost/@postId'">Изменить</button>
                    <button onclick="document.location.href = '/Profile/DeletePost/@postId'">Удалить</button>
                </td>
            </tr>
        }
    </table>
</main>